<?xml version='1.0' encoding='utf-8'?>
<widget id="com.naveenk.depositmaster" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Deposit Master</name>
    <description>
        Plan your future wealth, calculate and forecast interests for investments such as fixed deposits, salary etc.
    </description>
    <author email="dndkumarasinghe@gmail.com" href="http://facebook.com/kumarasinghe">
        Apache Cordova Team
    </author>
    <icon src="res/icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="NavigationBarBackgroundColor" value="#101422" />
        <preference name="BackgroundColor" value="0xff101422" />
        <preference name="StatusBarBackgroundColor" value="#101422" />
        <splash density="ldpi" src="res/icon.png" />
        <splash density="mdpi" src="res/icon.png" />
        <splash density="hdpi" src="res/icon.png" />
        <splash density="xhdpi" src="res/icon.png" />
        <splash density="xxhdpi" src="res/icon.png" />
        <splash density="xxxhdpi" src="res/icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
